.form-container{
    margin: 20px auto;
    height: 400px;
    width: 300px;
    border: 2px solid seagreen;
    border-radius: 10px;

}

.title-container{
    text-align: center;
}

.form-container label{
    display: block;
    font-size: 20px;
}

.form-control{
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.form-control input{
    padding: 8px;
    font-size: 20px;
    border: 2px solid silver;
    border-radius: 10px;
}

.btn-submit{
    width: 260px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
    border: 2px solid silver;
    border-radius: 10px;
    background-color: bisque;
    color: black;
    
}

.space{
    margin-left: 5px;
}

